@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

body {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100px 1fr 110px;
    grid-template-areas: 
        "header header"
        "nav main"
        "footer footer";
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;;
    box-sizing: border-box;
}
header {
    grid-area: header;
    background-color: #0E2271;
}
h1 {
    color: white;
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Racing Sans One', cursive;;
}
nav {
    grid-area: nav;
    background-color: #CEEDFD;
}
nav a {
    color: black;
    text-decoration: none;
    font-family: 'Racing Sans One', cursive;;
    font-size: 1.5em;
    margin-top: 20px;
}
nav ul {
    list-style-type: none;
}
a:hover {
    text-decoration: underline;
}
main {
    grid-area: main;
    padding-left: 15px;
    padding-bottom: 15px;
}
h2 {
    font-family: 'Racing Sans One', cursive;;
    font-size: 2.5em;
}
main div.am {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
main div.uw {
    display: flex;
    flex-direction: row;
}
img.mask {
    margin-bottom: 20px;
    margin-left: 80px;
}
p.mask {
    height: 200;
    padding-left: 20px;
    padding-top: 50px;
    padding-right: 20px;
    background-color: #FBFF00;
    font-weight: bold;
    margin: 0 0 20px 0;
}
p.dress {
    height: 350px;
    margin: 0 0 20px 80px;
    background-color: #FBFF00;
    font-weight: bold;
    padding: 60px 20px 0 20px
}
div.form {
    margin-left: auto;
    margin-right: auto;
    width: 20em
}
form {
    background-color: #FFFF97;
    padding: 20px;
}
div.map {
    margin-left: auto;
    margin-right: auto;
    width: 90%
}

footer {
    grid-area: footer;
    background-color: #0E2271;
}
footer a {
    color: white;
    text-decoration: none;
    margin: 15%;
}

@media screen and (max-width:900px) {
    body {
        grid-template-columns: 100%;
        grid-template-rows: 100px 110px 1fr 110px;
        grid-template-areas: 
            "header"
            "nav"
            "main"
            "footer";
    }
    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
}