
img.mask {
    margin-bottom: 20px;
    margin-left: 80px;
}
p.mask {
    height: 200;
    padding-left: 20px;
    padding-top: 50px;
    padding-right: 20px;
    background-color: #FBFF00;
    font-weight: bold;
    margin: 0 0 20px 0;
}
p.dress {
    height: 350px;
    margin: 0 0 20px 80px;
    background-color: #FBFF00;
    font-weight: bold;
    padding: 60px 20px 0 20px
}